.info {
    @include border(2px, $secondarycolor, 20px);
    margin: 1rem 0;
    padding: 1rem;
    animation: load-x 1s 0s backwards;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);

    &-list {
        list-style: none;
    
      &-item {
        @include flex (center ,flex-start);
        font-size : 1.2rem;
        margin: 1rem auto;

        &-icon {

          color: $primarycolor;
          margin-right: 1rem;

        }

    
      }
    }


}