.interests {
    @include border(2px, $secondarycolor, 20px);
    margin: 1.5rem 0;
    padding: 1rem;
    animation: spin 2s 2s backwards;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
    &-header {
        margin-bottom: 0.5rem;
    }

    &-item{
        
        &-header {
        margin: 0 0 0.5rem 1rem;
        font-style: italic;
        font-weight: 200;
        }
        &-list {
            color: $primarycolor;
            padding-left: 2rem;

            &-item {
                margin: 0.5rem 0;
                & p {
                    color: black;
                }
            }
        }
    }


}
