.interests {
    @include border(2px, $secondarycolor, 20px);
    margin: 1.5rem 0;
    padding: 1rem;
    &-header {
        margin-bottom: 0.5rem;
    }

    &-item{
        
        &-header {
        margin: 0 0 0.5rem 1rem;
        font-style: italic;
        font-weight: 200;
        }
        &-list {
            color: $primarycolor;

            &-item {
                margin: 0.5rem 0;
                & p {
                    color: black;
                }
            }
        }
    }


}
