.profile {

  @include border(2px, $secondarycolor, 20px);
  margin: 1.5rem 0;
  padding: 1rem;
  animation: load-y 1s 1s backwards;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);

  &-list {
      color: $primarycolor;
      padding-left: 1rem;

    &-item  {
        margin: 1rem 0;

     & p {
        color: black;
     }
        
        
    }

  }

 

}