@-webkit-keyframes load-x {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load-x {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes load-y {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes load-y {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateX(100%);
            transform: rotate(0deg) translateX(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotate(360deg) translateX(80%);
            transform: rotate(360deg) translateX(80%);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: rotate(1080deg) translateX(0);
            transform: rotate(1080deg) translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translateX(100%);
            transform: rotate(0deg) translateX(100%);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotate(360deg) translateX(80%);
            transform: rotate(360deg) translateX(80%);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: rotate(1080deg) translateX(0);
            transform: rotate(1080deg) translateX(0);
    opacity: 1;
  }
}

.header {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #4d309c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header-subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.header-image {
  height: 8rem;
  border-radius: 20px;
  margin: 0.3rem;
}

.l-header-left {
  height: 100%;
  margin-right: 2rem;
}

.info {
  border: 2px #c20000 solid;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
  -webkit-animation: load-x 1s 0s backwards;
          animation: load-x 1s 0s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.info-list {
  list-style: none;
}

.info-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  margin: 1rem auto;
}

.info-list-item-icon {
  color: #4d309c;
  margin-right: 1rem;
}

.profile {
  border: 2px #c20000 solid;
  border-radius: 20px;
  margin: 1.5rem 0;
  padding: 1rem;
  -webkit-animation: load-y 1s 1s backwards;
          animation: load-y 1s 1s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.profile-list {
  color: #4d309c;
  padding-left: 1rem;
}

.profile-list-item {
  margin: 1rem 0;
}

.profile-list-item p {
  color: black;
}

.languages {
  border: 2px #c20000 solid;
  border-radius: 20px;
  padding: 1rem;
  margin: 1.5rem 0;
  -webkit-animation: load-y 1s 2s backwards;
          animation: load-y 1s 2s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.languages-human {
  padding-left: 1rem;
}

.languages-human-header {
  font-style: italic;
  font-weight: 200;
}

.languages-human-list {
  color: #4d309c;
  padding-left: 2rem;
}

.languages-human-list-item {
  margin: 0.5rem 0;
}

.languages-human-list-item p {
  color: black;
}

.languages-code {
  padding-left: 1rem;
}

.languages-code-header {
  font-style: italic;
  font-weight: 200;
}

.languages-code-list {
  color: #4d309c;
  padding-left: 2rem;
}

.languages-code-list-item {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.languages-code-list-item p {
  color: black;
}

.languages-code-list-item-bar {
  width: 30%;
  height: 1rem;
  border: 2px #4d309c solid;
  border-radius: 0px;
  padding: 2px;
}

.languages-code-list-item-bar-css {
  width: 80%;
  height: 100%;
  background-color: green;
}

.languages-code-list-item-bar-html {
  width: 80%;
  height: 100%;
  background-color: green;
}

.languages-code-list-item-bar-js {
  width: 70%;
  height: 100%;
  background-color: green;
}

.languages-code-list-item-bar-vue {
  width: 60%;
  height: 100%;
  background-color: green;
}

.languages-code-list-item-bar-sql {
  width: 60%;
  height: 100%;
  background-color: green;
}

.languages-code-list-item-bar-php {
  width: 10%;
  height: 100%;
  background-color: red;
}

.interests {
  border: 2px #c20000 solid;
  border-radius: 20px;
  margin: 1.5rem 0;
  padding: 1rem;
  -webkit-animation: spin 2s 2s backwards;
          animation: spin 2s 2s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.interests-header {
  margin-bottom: 0.5rem;
}

.interests-item-header {
  margin: 0 0 0.5rem 1rem;
  font-style: italic;
  font-weight: 200;
}

.interests-item-list {
  color: #4d309c;
  padding-left: 2rem;
}

.interests-item-list-item {
  margin: 0.5rem 0;
}

.interests-item-list-item p {
  color: black;
}

.education {
  border: 2px #c20000 solid;
  border-radius: 20px;
  margin: 1.5rem 0;
  padding: 1rem;
  -webkit-animation: load-x 1s 0.5s backwards;
          animation: load-x 1s 0.5s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.education-item {
  margin: 1rem 0;
}

.education-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.education-item-header-date {
  color: #4d4848;
  font-style: italic;
  font-weight: 200;
}

.education-item-header-arrow {
  cursor: pointer;
  color: #4d309c;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.education-item-header-arrow:hover {
  color: #8063cf;
  -webkit-transform: scale(130%, 130%);
          transform: scale(130%, 130%);
}

.education-item-content {
  padding: 1rem 0;
  display: block;
  -webkit-animation: load-x 0.3s 0s backwards;
          animation: load-x 0.3s 0s backwards;
  margin-bottom: 1rem;
  font-style: italic;
}

.experiences {
  border: 2px #c20000 solid;
  border-radius: 20px;
  margin: 1.5rem 0;
  padding: 1rem;
  -webkit-animation: load-y 1s 1.5s backwards;
          animation: load-y 1s 1.5s backwards;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.589);
}

.experiences-item {
  margin: 1rem 0;
}

.experiences-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.experiences-item-header-date {
  color: #4d4848;
  font-style: italic;
  font-weight: 200;
}

.experiences-item-header-arrow {
  cursor: pointer;
  color: #4d309c;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.experiences-item-header-arrow:hover {
  color: #8063cf;
  -webkit-transform: scale(130%, 130%);
          transform: scale(130%, 130%);
}

.experiences-item-content {
  padding: 1rem 0;
  display: block;
  -webkit-animation: load-x 0.3s 0s backwards;
          animation: load-x 0.3s 0s backwards;
  margin-bottom: 1rem;
  font-style: italic;
}

html {
  font-size: 16px;
}

body {
  margin: auto;
  max-width: 1300px;
  width: 95%;
  font-family: 'Arial Narrow Bold', sans-serif;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  margin-right: 1.2rem;
}

.l-right {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 65%;
          flex: 2 1 65%;
  margin-left: 1.2rem;
}

.is-hidden {
  display: none;
}

.is-rotated {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media only screen and (max-width: 810px) {
  body {
    width: 99%;
  }
}

@media only screen and (max-width: 728px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-left {
    margin: 0 0.3rem;
  }
  .l-right {
    margin: 0 0.3rem;
  }
}

@media only screen and (max-width: 460px) {
  .header-title {
    font-size: 2.5rem;
  }
  .header-subtitle {
    font-size: 1rem;
  }
  .header-image {
    height: 7rem;
  }
}
/*# sourceMappingURL=style.css.map */