
@import './variables' ; 
@import './header';
@import './info';
@import './profile';
@import './languages';
@import './interests';
@import './education';
@import './experiences';

html {
    font-size: 16px;
}
body {
    margin: auto;
    max-width: 1300px;
    font-family: 'Arial Narrow Bold', sans-serif;
   
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

h1, h2, h3 {
margin: 0;
}

ul {
    margin: 0;
}

main {
    @include flex(flex-start)
}

.l-left {
    flex: 1 0 35%;
    margin-right: 1.2rem;
}

.l-right {
    flex: 2 1 65%;
    margin-left: 1.2rem;
}

.is-hidden {
    display: none;
}

.is-rotated {
    transform: rotateZ(180deg);
    transition: transform 0.5s;
}

